{{ define "main" }}

{{ partial "page-title.html" . }}

{{ $data := index site.Data site.Language.Lang }}

<section class="portfolio-single-page section-sm">
  <div class="container">
    <div class="row">
      <div class="col-md-5" style="padding : 16px;">
        {{ with .Params.image }}
        <img class="img-responsive w-100" src="{{ . | relURL }}" alt="">
        {{ end }}
      </div>
      <div class="col-md-7">
        <div class="project-details">
          <h4>{{ i18n "project_detail" }}</h4>
          <ul>
            {{ range .Params.information }}
            <li><span>{{ .label }} :</span> <strong>{{ .info | markdownify }}</strong></li>
            {{ end }}
          </ul>
          {{ with .Params.url }}
          <a href="https://{{ . | relURL }}" class="btn btn-main animated fadeInUp" style="margin-top: 24px; margin-bottom: 24px;">プロジェクトをみる</a>
          {{ end }}
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <div class="project-content mt-50">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}
